td.trim1 {
	background: #8DB4E3;
	text-align: center;
}
td.trim1bis {
	background: #DBE5F1;
	text-align: center;
}
td.trim2 {
	background: #76C0D4;
	text-align: center;
}
td.trim2bis {
	background: #DBEEF3;
	text-align: center;
}
td.trim3 {
	background: #B0CA7C;
	text-align: center;
}
td.trim3bis {
	background: #EAF1DD;
	text-align: center;
}
td.trim4 {
	background: #BEB0D0;
	text-align: center;
}
td.trim4bis {
	background: #E5E0EC;
	text-align: center;
}
td.semestre {
	background: #FAC090;
	text-align: center;
}
td.semestrebis {
	background: #FDE9D9;
	text-align: center;
}
td.total {
	background: #C5BE97;
	text-align: center;
}
td.totalbis {
	background: #DDD9C3;
	text-align: center;
}
